<h4 class="special-font text-center mt-6">Wishlist</h4>
<hr class="special-hr">
<div class="row mt-3 mb-6" *ngIf="wishlistData && wishlistData.length > 0">
  <div class="col col-8 col-md col-md-5 mt-2 ml-auto mr-auto pointer" *ngFor="let product of wishlistData">
    <div class="card box-shadows">
      <img class="card-img-top image-styling mt-1 img-fluid mx-auto d-block" src="{{product.imgUrl}}" alt="{{product.displayName}}">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold special-font">{{product.displayName}}</h5>
        <div class="col text-center mt-3">
          <button class="btn btn-outline-warning text-dark special-font font-weight-bold col-5 offset-1" (click)="addToCart(product)">Move
            to Cart</button>
            &nbsp;&nbsp;
          <button class="btn btn-outline-dark special-font font-weight-bold col-5" (click)="removeFromWishList(product._id)">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mb-3" *ngIf="wishlistData && wishlistData.length == 0">
  <h5 class="text-center text-info special-font">No Products Available in wishlist Yet</h5>
</div>
