<div class="mb-6">
  <div class="col-6 ml-auto mr-auto mt-1" *ngIf="product">
    <div class="card box-shadows">
      <img class="card-img-top image-styling img-fluid mx-auto d-block img-thumbnail pl-2 pr-2" src="{{product.imgUrl}}"
        alt="{{product.displayName}}" style="margin-top: 3%">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold special-font">{{product.displayName}}</h5>
        <hr class="special-hr">
        <p class="text-center special-font">
          {{product.desc}}
        </p>
        <div class="row">
          <div class="col text-right">
            <h6 class="font-italic"><strong>Price:</strong></h6>
          </div>
          <div class="col text-left">
            <h6 class="font-italic"><del class="text-danger"> &#8377; {{product.price}}</del></h6>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <h6 class="font-italic"><strong>Offer Price:</strong></h6>
          </div>
          <div class="col text-left">
            <h6 class="font-italic"> &#8377; {{product.offerPrice}}</h6>
          </div>
        </div>
        <div class="row" *ngIf="product.extra">
          <div class="col text-right">
            <h6 class="font-italic"><strong>Todays Offer:</strong></h6>
          </div>
          <div class="col text-left">
            <h6 class="font-italic"> Extra &#8377; {{product.offerPrice}} off</h6>
          </div>
        </div>

        <div class="row">
          <div class="col text-right">
            <h6 class="font-italic"><strong>Discount:</strong></h6>
          </div>
          <div class="col text-left">
            <h6 class="font-italic">{{product.discount}}%</h6>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <h6 class="font-italic text-info"><strong>Ratings:</strong></h6>
          </div>
          <div class="col text-left">
            <h6>
              <span *ngFor="let rate of rater" class="pointer" [ngClass]="{'text-yellow': userRating >= rate, 'text-dark' : userRating < rate}">
                &#9733;
              </span>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col text-right">
            <h6 class="font-italic text-info"><strong>Reviews:</strong></h6>
          </div>
          <div class="col text-left">
            <h6 class="font-italic text-info">{{reviewCount}}</h6>
          </div>
        </div>
        <form [formGroup]="cartForm" (ngSubmit)="addToCart()">
          <div class="form-group form-row">
            <div class="col text-right mt-1 font-weight-bold font-italic">
              Quantity:
            </div>
            <div class="col text-left">
              <select name="productQuantity" id="productQuantity" formControlName="productQuantity" class="form-control col-7 col-md-3"
                style="height: 2rem; font-size: 0.8rem;" *ngIf="maxQty">
                <option *ngFor="let counter of maxQty" value={{counter}}>{{counter}}</option>
              </select>

            </div>
          </div>
          <div class="form-group text-center ">
            <input type="submit" value="Add To Cart" class="btn btn-outline-warning text-dark special-font font-weight-bold col-6">
          </div>
        </form>
        <div class="form-group text-center " *ngIf="userLoggedIn">
          <button class="btn btn-outline-info text-dark special-font font-weight-bold col-6" (click)="addToWishList()">Add
            To Wishlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 ml-auto mr-auto mt-6" *ngIf="userLoggedIn && userBroughtProduct > 0 && userGivenfeedback == 0">
    <h5 class="text-center text-info special-font">Give Feedback</h5>
    <div class="card box-shadows">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold special-font">We value your feedback</h5>
        <hr class="special-hr">
        <div class="text-center">
          <h4>
            <span *ngFor="let rate of rater" (click)="changeRating(rate)" class="pointer" [ngClass]="{'text-yellow': rating >= rate, 'text-dark' : rating < rate}">
              &#9733;
            </span>
            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
              <mat-form-field appearance="outline" class="inp-control text-center special-font">
                <mat-label>Feedback</mat-label>
                <mat-icon matPrefix>comment</mat-icon>
                <textarea matInput placeholder="Feedback" formControlName="message" autocomplete="off"></textarea>
                <mat-hint>Enter feedback</mat-hint>
                <mat-error *ngIf="feedbackForm.controls.message.hasError('required')">
                  Feedback is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="form-group mt-3">
                <input type="submit" value="Submit" class="btn btn-sm btn-outline-info special-font" [disabled]="!feedbackForm.valid">
              </div>
            </form>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 ml-auto mr-auto mt-6" *ngIf="feedbacks && feedbacks.length > 0">
    <h4 class="text-center font-weight-bold special-font mt-3 mb-3">Feedbacks</h4>
    <hr class="special-hr">
    <mat-expansion-panel *ngFor="let feedback of feedbacks" class="mt-2 mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title class="special-font font-weight-bold">
          {{feedback.username}}
        </mat-panel-title>
        <mat-panel-description class="text-right" style="display: inline-block">
          <strong>Rating: </strong>{{feedback.rating}}/5
          <span *ngFor="let rate of rater" class="pointer" [ngClass]="{'text-yellow': feedback.rating >= rate, 'text-dark' : feedback.rating < rate}">
            &#9733;
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{feedback.message}}</p>
    </mat-expansion-panel>
  </div>
</div>

<h5 class="mt-3 mb-6 special-font text-center text-info" *ngIf="feedbacks && feedbacks.length == 0">No feedbacks
  available for this product.</h5>
