<div class="container-fluid" *ngIf="!mailSent">
  <h4 class="text-center special-font mt-3">
    We would love to hear from you
  </h4>
  <hr class="special-hr">
  <div class="row mt-3">
    <div class="col-8 col-sm-8 col-md-6 col-lg-6 offset-2 offset-sm-2 offset-md-3 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
              <mat-form-field appearance="outline" class="inp-control text-center special-font">
                <mat-label>Username</mat-label>
                <mat-icon matPrefix>perm_identity</mat-icon>
                <input matInput placeholder="Name" formControlName="username" autocomplete="off">
                <mat-hint>Please enter a username</mat-hint>
                <mat-error *ngIf="signupForm.controls.username.hasError('pattern') && !signupForm.controls.username.hasError('required')">
                  Please enter a valid username
                </mat-error>
                <mat-error *ngIf="signupForm.controls.username.hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="inp-control text-center special-font">
                <mat-label>Email Address</mat-label>
                <mat-icon matPrefix>contact_mail</mat-icon>
                <input matInput placeholder="Email Address" [type]='"email"' formControlName="email" autocomplete="off">
                <mat-hint>Enter a valid email address</mat-hint>
                <mat-error *ngIf="signupForm.controls.email.hasError('email') && !signupForm.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="signupForm.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="inp-control text-center special-font">
                <mat-label>Contact Number</mat-label>
                <mat-icon matPrefix>comment</mat-icon>
                <input matInput [type]='"number"' placeholder="Contact Number" formControlName="contact" autocomplete="off">
                <mat-hint>Enter a valid contact number (0-9)</mat-hint>
                <mat-error *ngIf="signupForm.controls.contact.hasError('pattern') && !signupForm.controls.contact.hasError('required')">
                  Please enter a valid contact number.
                </mat-error>
                <mat-error *ngIf="signupForm.controls.contact.hasError('required')">
                  Contact Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="inp-control text-center special-font">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix>settings_ethernet</mat-icon>
                <input matInput placeholder="Password" [type]='"password"' formControlName="password" autocomplete="off" (keyup)="toggleInvalidPassword()">
                <mat-hint>Enter a valid password</mat-hint>
                <mat-error *ngIf="signupForm.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
                <small class="text-danger" *ngIf="invalidPassword && !signupForm.controls.password.hasError('required')">Password should contain atleast one uppercase, one lowercase, one special and one numeric character, and should be 8 character long</small>
              </mat-form-field>
              <mat-form-field appearance="outline" class="inp-control text-center special-font mt-3">
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix>settings_ethernet</mat-icon>
                <input matInput placeholder="Confirm Password" [type]='"password"' formControlName="confirmPass" autocomplete="off" >
                <mat-hint>Confirm Password</mat-hint>
                <small class="text-danger" *ngIf="signupForm.controls.password.value !== signupForm.controls.confirmPass.value && !signupForm.controls.confirmPass.hasError('required')">
                  Password and Confirm Password do not match
                </small>
                <mat-error *ngIf="signupForm.controls.confirmPass.hasError('required')">
                  Confirm Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <div class="text-center mt-3">
                  <button mat-flat-button type="submit" color="accent" [disabled]="!signupForm.valid">
                    <i class="far fa-envelope"></i>&nbsp;
                    <span class="special-font">Signup</span>
                  </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
