.inp-control {
  width: 90%;
}

.mat-flat-button:not([class*=mat-elevation-z]) {
  font-family: 'Kaushan Script', cursive;
}


.image-styling {
  height: 120px;
  width: 150px;
}

.p-font {
  font-size: 1.3rem;
}
