<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <i class="fab fa-app-store custom-title-icon"></i> &nbsp;
    <span class='font-weight-bold special-font bigger-fonts'>{{title}}</span>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm class="special-font">
    <button mat-button routerLink="/login" class="bigger-fonts special-font" *ngIf="!userLoggedIn">Login</button>
    <button mat-button routerLink="/signup" class="bigger-fonts special-font" *ngIf="!userLoggedIn">Signup</button>
    <button mat-button routerLink="/profile" class="bigger-fonts special-font" *ngIf="userLoggedIn">Profile</button>
    <button mat-button routerLink="/addAddress" class="bigger-fonts special-font">Add Address</button>

    <button mat-button routerLink="/addCard" class="bigger-fonts special-font">Add Card</button>

    <button mat-button (click)="logout()" class="bigger-fonts special-font" *ngIf="userLoggedIn">Logout</button>
    <button mat-button class="bigger-fonts special-font" routerLink="/cart">
      <i class="material-icons">
        shopping_cart
      </i>
      <span class="badge badge-pill badge-dark">{{cartCount}}</span>
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/login" *ngIf="!userLoggedIn">Login</button>
  <button mat-menu-item routerLink="/signup" *ngIf="!userLoggedIn">Signup</button>
  <button mat-menu-item routerLink="/profile" *ngIf="userLoggedIn">Profile</button>
  <button mat-menu-item routerLink="/addAddress">Add Address</button>
  <button mat-menu-item routerLink="/addCard">Add Card</button>
  <button mat-menu-item (click)="logout()" *ngIf="userLoggedIn">Logout</button>
  <button mat-menu-item routerLink="/cart">
    <i class="material-icons">
      shopping_cart
    </i>
    <span class="badge badge-pill badge-dark">{{cartCount}}</span>
  </button>

  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
<mat-toolbar color="primary">
  <div class="col-6 text-center ml-auto mr-auto">
    <form [formGroup]="searchForm">
      <mat-form-field class="search-inp-control text-center special-font">
        <mat-icon matSuffix class="pointer" (click)="search()">search</mat-icon>
        <input matInput placeholder="Search Product" [type]='"text"' autocomplete="off" formControlName="searchCriteria">
      </mat-form-field>
    </form>
  </div>
</mat-toolbar>
